@model Shopping.Entities.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Details for @Model.Name</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <div class="form-group text-center">
                    <img src="~/assets/themes/images/products/@Model.ImageUrl" class="border-info rounded-circle" style="max-width: 150px" id="LogoPreview" />
                </div>

                <div class="form-group">
                    <label class="control-label">Name</label>
                    <input asp-for="Name" class="form-control" readonly />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Brand</label>
                    <input asp-for="Brand" class="form-control" readonly />
                    <span asp-validation-for="Brand" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Features</label>
                    <input asp-for="Features" class="form-control" readonly />
                    <span asp-validation-for="Features" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Price</label>
                    <input asp-for="Price" class="form-control" readonly />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Category</label>
                    <input asp-for="Category.Name" class="form-control" readonly />
                    <span asp-validation-for="Category.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Stock Count</label>
                    <input asp-for="StockCount" class="form-control" readonly />
                    <span asp-validation-for="StockCount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Released Date</label>
                    <input asp-for="ReleaseDate" class="form-control" readonly />
                    <span asp-validation-for="ReleaseDate" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
</div>